.modal-content h2 {
    font-size: 24px; /* 폰트 크기 설정 */
    font-weight: bold; /* 폰트 두께 설정 */
    color: #1c1f73; /* 폰트 색상 설정 */
    margin-bottom: 16px; /* 제목과 내용 사이의 간격 설정 */
}

.artist-group-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.artist-group-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열로 설정 */
    gap: 10px; /* 카드 사이의 간격 */
    padding-left: 20px;
    overflow-x: auto;
}

/* 스크롤바의 기본 스타일 */
.artist-group-container::-webkit-scrollbar {
    height: 5px; /* 스크롤바의 높이 설정 */
}

/* 스크롤바의 썸(스크롤바의 이동 부분) 스타일 */
.artist-group-container::-webkit-scrollbar-thumb {
    background: rgba(102, 106, 162, 0.75); /* 썸의 색상 설정 */
    border-radius: 10px; /* 썸의 모서리 둥글게 설정 */
}

.artist-group-container::-webkit-scrollbar-thumb:hover {
    background: rgb(60, 65, 176); /* 호버 시 썸의 색상 설정 */
}

.artist-group-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 200px;
    padding: 16px;
    text-decoration: none; /* 링크에 기본 밑줄 제거 */
    color: inherit; /* 텍스트 색상 기본 설정 */
    position: relative;
    margin-right: 5px;
}
.artist-group-card:hover {
    transform: translateY(-2px); /* 마우스 올렸을 때 카드가 위로 이동 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

.artist-group-placeholder {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2f3ff;
    color: #999;
    font-size: 14px;
}

.artist-group-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between name and buttons */
    flex-grow: 1; /* Take available space */
    width: 50px;
    text-align: center;
}

.group-modal-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;

}
.subscription-button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /*gap: 8px;*/
}

.community-button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    /*margin-left: 5px; !* 별 버튼과의 간격을 조절 *!*/
    color: #7341ff; /* 커뮤니티 버튼의 색상 설정 */
    margin-right: 5px;

}

.star-icon {
    font-size: 1.5rem;
}

.artist-group-item {
    display: flex;
    align-items: center;
    gap: 5px; /* 아이콘과 이미지 간의 간격 조정 */
}

.artist-group-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    /*border-radius: 50%; !* 동그란 모양으로 변경 *!*/
}

.artist-group-name {
    margin-left: 15px; /* 그룹 이름과 이미지 간의 간격 조정 */
    font-family: 'Courier New', monospace;
}

.modal-close {
    margin-top: 20px;
    border: none;
    background-color: #ddd;
    padding: 10px;
    cursor: pointer;
}
.no-subscriptions-message {
    text-align: center;
    padding: 50px 0; /* 중앙 정렬을 위한 패딩 조정 */
    font-size: 1.5em;
    color: #2a2d88;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 120px; /* 툴팁 너비 */
    background-color: #555; /* 기본 툴팁 배경색 */
    color: #fff; /* 기본 툴팁 텍스트 색상 */
    text-align: center;
    border-radius: 5px; /* 모서리 둥글기 */
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 툴팁 위치 조정 */
    left: 50%;
    margin-left: -60px; /* 툴팁 중앙 정렬 */
    opacity: 0;
    transition: opacity 0.3s; /* 툴팁 표시 전환 효과 */
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-text.subscribed {
    background-color: #51d5fd; /* 구독 상태일 때 배경색 */
}

.tooltip-text.not-subscribed {
    background-color: #d3d3d3; /* 미구독 상태일 때 배경색 */
}

