.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 0px; /* Space between buttons */
    max-width: 1200px; /* Limit container width */
    margin: 20px auto; /* Center the grid */
    border-top: 1px solid #ffffff; /* White border on top */
    border-right: 1px solid #ffffff; /* White border on right */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
    border-left: 1px solid #ffffff; /* White border on left */


}

.buttons-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #ffffff; /* White background */
    color: #333; /* Darker text color for contrast */
    text-decoration: none;
    border: 1px solid #d3d3d3;
    transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;
    font-size: 16px;
    text-align: center;
    position: relative;
}

.buttons-button:hover {
    background-color: #e0e0e0; /* Slightly darker gray on hover */
    border-color: #b0b0b0; /* Darker gray border on hover */
    box-shadow: 0 0 0 1px #ffffff;
}

.pastel1 {
    border-top: 1px solid #ffffff; /* White border on top */
    border-left: 1px solid #ffffff; /* White border on left */
    border-bottom: 1px solid #ffffff; /* White border on bottom */

}

.pastel2 {
    border-top: 1px solid #ffffff; /* White border on top */
    border-right: 1px solid #ffffff; /* White border on right */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
    border-left: 1px solid #ffffff; /* White border on left */
}

.pastel3 {
    border-top: 1px solid #ffffff; /* White border on top */
    border-right: 1px solid #ffffff; /* White border on right */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
}

.pastel4 {
    border-left: 1px solid #ffffff; /* White border on left */

}

.pastel5 {
    border-right: 1px solid #ffffff; /* White border on right */
    border-left: 1px solid #ffffff; /* White border on left */
}

.pastel6 {
    border-right: 1px solid #ffffff; /* White border on right */
}

.pastel7 {
    border-top: 1px solid #ffffff; /* White border on top */
    border-left: 1px solid #ffffff; /* White border on left */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
}

.pastel8 {
    border-top: 1px solid #ffffff; /* White border on top */
    border-right: 1px solid #ffffff; /* White border on right */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
    border-left: 1px solid #ffffff; /* White border on left */
}

.pastel9 {
    border-top: 1px solid #ffffff; /* White border on top */
    border-right: 1px solid #ffffff; /* White border on right */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
}

.pastel10 {
    border-bottom: 1px solid #ffffff; /* White border on bottom */
    border-left: 1px solid #ffffff; /* White border on left */
}

.pastel11 {
    border-bottom: 1px solid #ffffff; /* White border on bottom */
    border-right: 1px solid #ffffff; /* White border on right */
    border-left: 1px solid #ffffff; /* White border on left */
}

.pastel12 {
    border-right: 1px solid #ffffff; /* White border on right */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
}

/*호버시 색상변경*/

.pastel1:hover {
    background-color: #fde0ff; /* Very Light Pastel Pink */
}

.pastel2:hover {
    background-color: #cce6ff; /* Very Light Pastel Blue */
}

.pastel3:hover {
    background-color: #d1f8e0; /* Very Light Pastel Green */
}

.pastel4:hover {
    background-color: #ffe0e0; /* Very Light Pastel Yellow */
}

.pastel5:hover {
    background-color: #e7e0ff; /* Very Light Pastel Purple */
}

.pastel6:hover {
    background-color: #dcd9d6; /* Very Light Pastel Orange */
}

.pastel7:hover {
    background-color: #e6f0ff; /* Very Light Pastel Light Blue */
}

.pastel8:hover {
    background-color: #e6ffec; /* Very Light Pastel Mint */
}

.pastel9:hover {
    background-color: #fde6ff; /* Very Light Pastel Light Pink */
}

.pastel10:hover {
    background-color: #e0f4f4; /* Very Light Pastel Teal */
}

.pastel11:hover {
    background-color: #ffffe6; /* Very Light Pastel Lime */
}

.pastel12:hover {
    background-color: #ffe6e6; /* Very Light Pastel Rose */
}

