.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 0px; /* Space between buttons */
    max-width: 1200px; /* Limit container width */
    margin: 20px auto; /* Center the grid */
    border-top: 1px solid #ffffff; /* White border on top */
    border-right: 1px solid #ffffff; /* White border on right */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
    border-left: 1px solid #ffffff; /* White border on left */
}

.buttons-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #ffffff; /* White background */
    color: #333; /* Darker text color for contrast */
    text-decoration: none;
    border: 1px solid #d3d3d3;
    transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;
    font-size: 16px;
    text-align: center;
    position: relative;
}

.buttons-button:hover {
    background-color: #e0e0e0; /* Slightly darker gray on hover */
    border-color: #b0b0b0; /* Darker gray border on hover */
    box-shadow: 0 0 0 1px #ffffff;
}

.pastel1 {
    border-top: 1px solid #ffffff; /* White border on top */
    border-left: 1px solid #ffffff; /* White border on left */
    border-bottom: 1px solid #ffffff; /* White border on bottom */

}

.pastel2 {
    border-top: 1px solid #ffffff; /* White border on top */
    border-right: 1px solid #ffffff; /* White border on right */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
    border-left: 1px solid #ffffff; /* White border on left */
}

.pastel3 {
    border-top: 1px solid #ffffff; /* White border on top */
    border-right: 1px solid #ffffff; /* White border on right */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
}

.pastel4 {
    border-left: 1px solid #ffffff; /* White border on left */

}

.pastel5 {
    border-right: 1px solid #ffffff; /* White border on right */
    border-left: 1px solid #ffffff; /* White border on left */
}

.pastel6 {
    border-right: 1px solid #ffffff; /* White border on right */
}

.pastel7 {
    border-top: 1px solid #ffffff; /* White border on top */
    border-left: 1px solid #ffffff; /* White border on left */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
}

.pastel8 {
    border-top: 1px solid #ffffff; /* White border on top */
    border-right: 1px solid #ffffff; /* White border on right */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
    border-left: 1px solid #ffffff; /* White border on left */
}

.pastel9 {
    border-top: 1px solid #ffffff; /* White border on top */
    border-right: 1px solid #ffffff; /* White border on right */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
}

.pastel10 {
    border-bottom: 1px solid #ffffff; /* White border on bottom */
    border-left: 1px solid #ffffff; /* White border on left */
}

.pastel11 {
    border-bottom: 1px solid #ffffff; /* White border on bottom */
    border-right: 1px solid #ffffff; /* White border on right */
    border-left: 1px solid #ffffff; /* White border on left */
}

.pastel12 {
    border-right: 1px solid #ffffff; /* White border on right */
    border-bottom: 1px solid #ffffff; /* White border on bottom */
}

/*호버시 색상변경*/
.buttons-button:hover {
    background-color: #cce6ff; /* 호버 시 약간 더 어두운 색상 */
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.button-icon {
    transition: transform 0.3s ease;
    font-size: 1.3rem;
}

.buttons-button:hover .button-icon {
    animation: bounce 1s; /* 마우스 호버 시 bounce 애니메이션 적용 */
    animation-iteration-count: 5;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}

