.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule-details {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

.schedule-details h3 {
    margin-bottom: 10px;
}

.schedule-details ul {
    list-style: none;
    padding: 0;
}

.schedule-details li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
}

.calendar-container {
    position: fixed; /* 페이지 스크롤과 상관없이 위치 고정 */
    bottom: 10px; /* 화면 아래로부터의 거리 */
    right: 150px; /* 화면 오른쪽으로부터의 거리 */
    width: 400px; /* 달력의 너비 조정 */
}

.react-calendar {
    width: 100%; /* 달력의 너비를 컨테이너의 너비에 맞춤 */
    border: 1px solid #ddd; /* 경계선 추가 */
    border-radius: 4px; /* 모서리 둥글게 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}