.footer {
    background-color: #4a90e2;
    color: #ffffff;
    text-align: center; /* 모든 요소 중앙 정렬 */
    padding: 50px 0; /* 위쪽과 아래쪽 공백 추가 */
    font-family: 'Arial', sans-serif; /* 기본 폰트, 필요에 따라 변경 가능 */
    margin-top: 50px; /* 상단에만 마진 추가 */
    position: relative;
}

.footer-title {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Poppins', sans-serif; /* 폰트 변경 */
    margin-top: 10px; /* 타이틀과 라인 사이에 공백 추가 */
    margin-bottom: 20px; /* 타이틀과 링크들 사이에 공백 추가 */
}

.footer-title a {
    color: inherit; /* 부모 요소의 색상 상속 */
    text-decoration: none; /* 밑줄 제거 */
}

.footer-title a:hover {
    text-decoration: none; /* 호버 시 밑줄 제거 */
}

.footer-links a {
    color: #ffffff; /* 링크 색상 */
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer-copyright {
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px; /* 링크와 카피라이트 사이의 공백을 줄이기 위해 margin-top 조정 */
}